/**
 * NoNumber Page stylesheet
 *
 * @package         Tabs
 * @version         3.0.7
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2012 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
/*
 * You can override this stylesheet by creating your own in:
 * /templates/[YOUR TEMPLATE]/css/tabs/style.min.css
 */
div.nn_tabs_nav {
  display: block;
  clear: left;
  line-height: 1em;
  zoom: 1;
}
div.nn_tabs_nav ul.nn_tabs_tabs {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
  list-style-image: none !important;
  background: none !important;
  border-bottom: 1px solid #ddd;
  zoom: 1;
}
div.nn_tabs_nav ul.nn_tabs_tabs:before {
  content: '';
  display: block;
}
div.nn_tabs_nav ul.nn_tabs_tabs:after {
  content: '';
  display: table;
  clear: both;
}
div.nn_tabs_nav li.nn_tabs_tab {
  float: left;
  margin: 0 !important;
  margin-bottom: -1px !important;
  padding: 0 !important;
  list-style: none !important;
  list-style-image: none !important;
  background: none !important;
}
div.nn_tabs_nav li.nn_tabs_tab a,
div.nn_tabs_nav li.nn_tabs_tab a:link,
div.nn_tabs_nav li.nn_tabs_tab a:visited,
div.nn_tabs_nav li.nn_tabs_tab a:active,
div.nn_tabs_nav li.nn_tabs_tab a:hover {
  outline: 0;
  line-height: 1.5em !important;
  text-decoration: none !important;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
div.nn_tabs_nav li.nn_tabs_tab a,
div.nn_tabs_nav li.nn_tabs_tab a:hover {
  display: block;
  margin-right: 2px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  color: #555555;
}
div.nn_tabs_nav li.nn_tabs_tab a:hover {
  background-color: #eee;
}
div.nn_tabs_nav li.nn_tabs_tab.active a,
div.nn_tabs_nav li.nn_tabs_tab.active a:hover {
  background-color: #ffffff;
  cursor: default;
}
div.nn_tabs_content,
div.nn_tabs_content > div,
div.nn_tabs_content div.nn_tabs_item {
  position: relative !important;
  overflow: hidden !important;
}
div.nn_tabs_content {
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-top: 0;
  padding: 8px 12px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
div.nn_tabs_noscript div.nn_tabs_content {
  margin: 0;
  padding: 0;
  border: none;
}
div.nn_tabs_nav li.nn_tabs_tab.blue a,
div.nn_tabs_nav li.nn_tabs_tab.blue a:hover,
div.nn_tabs_nav li.nn_tabs_tab.green a,
div.nn_tabs_nav li.nn_tabs_tab.green a:hover,
div.nn_tabs_nav li.nn_tabs_tab.red a,
div.nn_tabs_nav li.nn_tabs_tab.red a:hover,
div.nn_tabs_nav li.nn_tabs_tab.orange a,
div.nn_tabs_nav li.nn_tabs_tab.orange a:hover,
div.nn_tabs_nav li.nn_tabs_tab.gray a,
div.nn_tabs_nav li.nn_tabs_tab.gray a:hover,
div.nn_tabs_nav li.nn_tabs_tab.grey a,
div.nn_tabs_nav li.nn_tabs_tab.grey a:hover,
div.nn_tabs_nav li.nn_tabs_tab.primary a,
div.nn_tabs_nav li.nn_tabs_tab.primary a:hover,
div.nn_tabs_nav li.nn_tabs_tab.info a,
div.nn_tabs_nav li.nn_tabs_tab.info a:hover,
div.nn_tabs_nav li.nn_tabs_tab.success a,
div.nn_tabs_nav li.nn_tabs_tab.success a:hover,
div.nn_tabs_nav li.nn_tabs_tab.warning a,
div.nn_tabs_nav li.nn_tabs_tab.warning a:hover,
div.nn_tabs_nav li.nn_tabs_tab.danger a,
div.nn_tabs_nav li.nn_tabs_tab.danger a:hover,
div.nn_tabs_nav li.nn_tabs_tab.error a,
div.nn_tabs_nav li.nn_tabs_tab.error a:hover {
  border-top: 5px solid #ddd;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
@media (max-width: 768px) {
  div.nn_tabs_nav li.nn_tabs_tab:last-child a,
  .nn_tabs > ul > .active:last-child a {
    border-bottom: 1px solid #ddd;
  }
  div.nn_tabs_nav li.nn_tabs_tab.blue a,
  div.nn_tabs_nav li.nn_tabs_tab.green a,
  div.nn_tabs_nav li.nn_tabs_tab.red a,
  div.nn_tabs_nav li.nn_tabs_tab.orange a,
  div.nn_tabs_nav li.nn_tabs_tab.gray a,
  div.nn_tabs_nav li.nn_tabs_tab.grey a,
  div.nn_tabs_nav li.nn_tabs_tab.primary a,
  div.nn_tabs_nav li.nn_tabs_tab.info a,
  div.nn_tabs_nav li.nn_tabs_tab.success a,
  div.nn_tabs_nav li.nn_tabs_tab.warning a,
  div.nn_tabs_nav li.nn_tabs_tab.danger a,
  div.nn_tabs_nav li.nn_tabs_tab.error a {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
div.nn_tabs_nav li.nn_tabs_tab.blue a,
div.nn_tabs_nav li.nn_tabs_tab.primary a {
  border-top-color: #74b4e8;
}
div.nn_tabs_nav li.nn_tabs_tab.blue a:hover,
div.nn_tabs_nav li.nn_tabs_tab.blue.active a,
div.nn_tabs_nav li.nn_tabs_tab.primary a:hover,
div.nn_tabs_nav li.nn_tabs_tab.primary.active a {
  border-top-color: #2384d3;
}
div.nn_tabs_nav li.nn_tabs_tab.info a {
  border-top-color: #6fc2da;
}
div.nn_tabs_nav li.nn_tabs_tab.info a:hover,
div.nn_tabs_nav li.nn_tabs_tab.info.active a {
  border-top-color: #2f96b4;
}
div.nn_tabs_nav li.nn_tabs_tab.green a,
div.nn_tabs_nav li.nn_tabs_tab.success a {
  border-top-color: #91c991;
}
div.nn_tabs_nav li.nn_tabs_tab.green a:hover,
div.nn_tabs_nav li.nn_tabs_tab.green.active a,
div.nn_tabs_nav li.nn_tabs_tab.success a:hover,
div.nn_tabs_nav li.nn_tabs_tab.success.active a {
  border-top-color: #51a351;
}
div.nn_tabs_nav li.nn_tabs_tab.orange a,
div.nn_tabs_nav li.nn_tabs_tab.warning a {
  border-top-color: #fbbf69;
}
div.nn_tabs_nav li.nn_tabs_tab.orange a:hover,
div.nn_tabs_nav li.nn_tabs_tab.orange.active a,
div.nn_tabs_nav li.nn_tabs_tab.warning a:hover,
div.nn_tabs_nav li.nn_tabs_tab.warning.active a {
  border-top-color: #f89406;
}
div.nn_tabs_nav li.nn_tabs_tab.red a,
div.nn_tabs_nav li.nn_tabs_tab.danger a,
div.nn_tabs_nav li.nn_tabs_tab.error a {
  border-top-color: #dd7a75;
}
div.nn_tabs_nav li.nn_tabs_tab.red a:hover,
div.nn_tabs_nav li.nn_tabs_tab.red.active a,
div.nn_tabs_nav li.nn_tabs_tab.danger a:hover,
div.nn_tabs_nav li.nn_tabs_tab.danger.active a,
div.nn_tabs_nav li.nn_tabs_tab.error a:hover,
div.nn_tabs_nav li.nn_tabs_tab.error.active a {
  border-top-color: #bd362f;
}
div.nn_tabs_nav li.nn_tabs_tab.gray a,
div.nn_tabs_nav li.nn_tabs_tab.grey a {
  border-top-color: #b3b3b3;
}
div.nn_tabs_nav li.nn_tabs_tab.gray a:hover,
div.nn_tabs_nav li.nn_tabs_tab.gray.active a,
div.nn_tabs_nav li.nn_tabs_tab.grey a:hover,
div.nn_tabs_nav li.nn_tabs_tab.grey.active a {
  border-top-color: #808080;
}
