/**
 * NoNumber Framework page stylesheet
 *
 * @package         NoNumber Framework
 * @version         13.2.2
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2012 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

/*
 * Based on the Khepri Admin template styleheet
 */

/* -- General styles ------------------------------ */
body {
	margin: 10px;
	padding: 0;
	background: #fff;
	padding-bottom: 1px;
	font-size: 11px;
}

body, td, th {
	font-family: Arial, Helvetica, sans-serif;
}

img {
	border: 0 none;
}

form {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	color: #0B55C4;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 0 !important;
}

h3 {
	font-size: 13px;
}

a:link {
	color: #0B55C4;
	text-decoration: none;
}
a:visited {
	color: #0B55C4;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

fieldset {
	border: 1px #ccc solid;
	padding: 5px;
	text-align: left;
	margin-bottom: 0 !important;
}

fieldset p {
	margin: 10px 0;
}

legend {
	color: #0B55C4;
	font-size: 12px;
	font-weight: bold;
}

input, select {
	font-size: 10px;
	border: 1px solid silver;
}
textarea {
	font-size: 11px;
	border: 1px solid silver;
}
button {
	font-size: 10px;
}

input.disabled {
	background-color: #F0F0F0;
}

input.button {
	cursor: pointer;
}

input:focus,
select:focus,
textarea:focus {
	background-color: #ffd
}

.button2-left a,
.button2-left span {
	display: block;
	height: 22px;
	float: left;
	line-height: 22px;
	font-size: 11px;
	color: #333;
	cursor: pointer;
}
.button2-left a:hover {
	text-decoration: none;
	color: #0B55C4;
}

/* Tooltips */
.tool-tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
	z-index: 50;
}

.tool-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
}

.tool-text {
	font-size: 100%;
	margin: 0;
}

/* standard form style table */
div.col {
	float: left;
}
div.width-45 {
	width: 45%;
}
div.width-55 {
	width: 55%;
}
div.width-50 {
	width: 50%;
}
div.width-70 {
	width: 70%;
}
div.width-30 {
	width: 30%;
}
div.width-60 {
	width: 60%;
}
div.width-40 {
	width: 40%;
}

table.admintable td {
	padding: 3px;
}
table.admintable td.key,
table.admintable td.paramlist_key {
	background-color: #f6f6f6;
	text-align: right;
	width: 140px;
	color: #666;
	font-weight: bold;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}

table.paramlist td.paramlist_description {
	background-color: #f6f6f6;
	text-align: left;
	width: 170px;
	color: #333;
	font-weight: normal;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}

table.admintable td.key.vtop {
	vertical-align: top;
}

table.adminform {
	background-color: #f9f9f9;
	border: solid 1px #d5d5d5;
	width: 100%;
	border-collapse: collapse;
	margin: 8px 0 10px 0;
	margin-bottom: 15px;
	width: 100%;
}
table.adminform.nospace {
	margin-bottom: 0;
}
table.adminform tr.row0 {
	background-color: #f9f9f9;
}
table.adminform tr.row1 {
	background-color: #eeeeee;
}

table.adminform th {
	font-size: 11px;
	padding: 6px 2px 4px 4px;
	text-align: left;
	height: 25px;
	color: #000;
	background-repeat: repeat;
}
table.adminform td {
	padding: 3px;
	text-align: left;
}

table.adminform td.filter {
	text-align: left;
}

table.adminform td.helpMenu {
	text-align: right;
}

fieldset.adminform {
	border: 1px solid #ccc;
	margin: 0 10px 10px 10px;
}

/** Table styles **/

table.adminlist {
	width: 100%;
	border-spacing: 1px;
	background-color: #e7e7e7;
	color: #666;
}

table.adminlist td,
table.adminlist th {
	padding: 4px;
}

table.adminlist thead th {
	text-align: center;
	background: #f0f0f0;
	color: #666;
	border-bottom: 1px solid #999;
	border-left: 1px solid #fff;
}

table.adminlist thead a:hover {
	text-decoration: none;
}

table.adminlist thead th img {
	vertical-align: middle;
}

table.adminlist tbody th {
	font-weight: bold;
}

table.adminlist tbody tr {
	background-color: #fff;
	text-align: left;
}
table.adminlist tbody tr.row1 {
	background: #f9f9f9;
	border-top: 1px solid #fff;
}

table.adminlist tbody tr.row0:hover td,
table.adminlist tbody tr.row1:hover td {
	background-color: #ffd;
}

table.adminlist tbody tr td {
	height: 25px;
	background: #fff;
	border: 1px solid #fff;
}
table.adminlist tbody tr.row1 td {
	background: #f9f9f9;
	border-top: 1px solid #FFF;
}

table.adminlist tfoot tr {
	text-align: center;
	color: #333;
}
table.adminlist tfoot td,
table.adminlist tfoot th {
	background-color: #f3f3f3;
	border-top: 1px solid #999;
	text-align: center;
}

table.adminlist td.order {
	text-align: center;
	white-space: nowrap;
}
table.adminlist td.order span {
	float: left;
	display: block;
	width: 20px;
	text-align: center;
}

table.adminlist .pagination {
	display: table;
	padding: 0;
	margin: 0 auto;
}

.pagination div.limit {
	float: left;
	height: 22px;
	line-height: 22px;
	margin: 0 10px;
}

/** Other styles **/

.button2-left .blank a {
	padding-right: 6px;
}