@charset "utf-8";
/* CSS Document */
/* some custom fonts via google font api */
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:extralight);
/*
	jQuery Coda-Slider v2.0 - http://www.ndoherty.biz/coda-slider
	Copyright (c) 2009 Niall Doherty
	This plugin available for use in all personal or commercial projects under both MIT and GPL licenses.
*/

body { font-family: Helvetica, Arial, sans-serif; font-size:12px; color:#ffffff; padding:20px; background:#000000; }

h1 { font-size:16px;}
h2 { font-size:14px; color:#FF0000; }

/* Insignificant stuff, for demo purposes */
	.panel h2.title { margin-bottom: 10px;}

/* Most common stuff you'll need to change */

	.coda-slider-wrapper { padding: 0}
	.coda-slider { background: #222222; }
	
	/* Use this to keep the slider content contained in a box even when JavaScript is disabled */
	.coda-slider-no-js .coda-slider { height: 200px; overflow: auto !important; padding-right: 20px }
	
	/* Change the width of the entire slider (without dynamic arrows) */
	.coda-slider, .coda-slider .panel { width: 385px } 
	
	/* Change margin and width of the slider (with dynamic arrows) */
	.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel { width: 385px }
	.coda-slider-wrapper.arrows .coda-slider { margin: 0 10px }
	
	/* Arrow styling */
	.coda-nav-left a, .coda-nav-right a { background: #000; color: #fff; padding: 5px; width: 100px }
	
	/* Tab nav */
	.coda-nav ul li a.current { background: #424242; }
	
	/* Panel padding */
	.coda-slider .panel-wrapper { padding: 20px; height:165px; overflow:auto;  }

	/* Preloader */
	.coda-slider p.loading { padding: 20px; text-align: center }

/* Don't change anything below here unless you know what you're doing */

	/* Tabbed nav */
	.coda-nav ul { clear: both; display: block; margin: auto; overflow: hidden; float:left; position:relative; left:0px; }
	.coda-nav ul li { display: inline; float:left; }
	.coda-nav ul li a { background: #757575; color: #fff; display: block; float: left; margin-right: 1px; padding: 3px 6px; text-decoration: none; border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0; }
	
	.coda-nav ul li a:hover {
		color:#aaaaaa;
	}
	
	/* Miscellaneous */
	.coda-slider-wrapper { clear: both; overflow: auto }
	.coda-slider { float: left; overflow: hidden; position: relative }
	.coda-slider .panel { display: block; float: left }
	.coda-slider .panel-container { position: relative }
	.coda-nav-left, .coda-nav-right { float: left }
	.coda-nav-left a, .coda-nav-right a { display: block; text-align: center; text-decoration: none }
	
	/* content block 4 
#coda-slider-1{position:absolute; left:340px; top:540px; margin:0; width:260px; height:200px; padding:0 10px; border:1px dotted #09C; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
#coda-slider-1 .customScrollBox{position:relative; height:100%; overflow:hidden;}
#coda-slider-1 .customScrollBox .panel{position:relative; width:240px; top:0; float:left;}
#coda-slider-1 .customScrollBox .panel-wrapper{clear:both;}
#coda-slider-1 .customScrollBox .panel-wrapper p{padding:10px 5px; margin:10px 0; color:#09C; font-family:Verdana, Geneva, sans-serif; font-size:13px; line-height:20px;}
#coda-slider-1 .dragger_container{position:relative; width:0px; height:180px; float:left; margin:10px 0 0 10px; border-left:1px dotted #555; cursor:pointer;}
#coda-slider-1 .dragger{position:absolute; width:9px; height:9px; background:#555; margin-left:-5px; text-align:center; overflow:hidden; cursor:pointer; -moz-border-radius:18px; -khtml-border-radius:18px; -webkit-border-radius:18px; border-radius:18px;}
#coda-slider-1 .dragger_pressed{position:absolute; width:9px; height:9px; background:#09C; margin-left:-5px; overflow:hidden; cursor:s-resize;}*/
	