/*
 * jQuery Nivo Slider v2.0
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none !important;
}

.nivo-main-image {
    display: block !important;
    position: relative !important;
    width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
	background:white;
	filter: alpha(opacity=0);
	opacity: 0;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:50;
	overflow:hidden;
}

.nivo-box img { display:block; }
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	padding: 0;
	width:100%;
	z-index:89;
	display: none;
	opacity:0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.nivo-caption .nivo-caption-content {
	padding: 5px 10px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
.nivo-controlNav .nivo-thumbNavWrapper {
	z-index: 100;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
.nivo-controlNavHolder {
	z-index: 100;
	text-align: center !important;
}

.nivo-controlNavHolder .nivo-controlNav {
	visibility: hidden;
}

.nivo-controlNav {
	display: inline-block;
}

.nivoSlider .nivo-controlNavHolder {
	display: block;
}

.nivoSlider .nivo-controlNavHolder .nivo-controlNav span {
	display: block;
}

.nivoSlider .nivo-controlNavHolder .nivo-controlNav span.nivo-thumbNavWrapper {
	display: none;
}

.ari-image-slider-wrapper {
	position: relative;
}