/*
 * @author ( Angie Radtke )
*/

/* not ready */

/* ##########################  general  ########################### */


@font-face {
	font-family: 'Titillium Maps';
	src: url("../fonts/TitilliumMaps29L002.eot");
	src: local('Titillium Maps'), local('TitilliumMaps'),
		url("../fonts/TitilliumMaps29L002.otf") format("opentype"),
		url("../fonts/TitilliumMaps29L002.woff") format("woff");
}

.clear {clear: both;}

body
{
	background: #fff;
	color: #333;
	font-family: arial, helvetica, sans-serif;
}

#all
{
	color: #49494a;
	border:solid 0px ;
	padding-top:0px;
	background:#fff
}

#header
{
	padding-top:10em
}

a:link,
a:visited
{
	color:#49494a
}

a:hover,
a:active,
a:focus
{
	
	
}

input:focus
{
	border:solid 2px;
}

fieldset
{
	border:solid 0px #ccc
}

.article-info
{
	color:#444
}

.article-info dd span
{
	color:#444;
	border-right:solid 0px;
	background:#eee
}

/* ##########################  back  ########################### */

#back
{

}

/* ##########################  logo  ########################### */

#logo span
{
	color:#fff;
	padding-left:50px;
	font-size:0.3em !important;
	text-transform:none;
	font-family:arial, sans-serif
}
#all #header
{padding: 0;
}
.logoheader
{

	background:  #0c1a3e  URL(../images/personal/personal2.png) no-repeat bottom right ;
	color:#fff;
	min-height:200px;
	margin:0em 10px 0 10px !important;

}


h1#logo
{
	   font-family: 'Titillium Maps',  Arial;
	   padding:0.9em 20px 20px 10px;
	   text-transform:uppercase;
	   font-weight:normal;
	   margin-top:0;
}



#line
{
	min-width:100% ;
	
	top:0px;
	left:0px;
	
	
	

}

#line .logo {float: right;}


/* ##########################  header  ########################### */

#header
{
	background:#fff;
	font-size:1em;
	position:relative;
	


}

/* ++++++++++++++  lists, skiplinks  ++++++++++++++ */
#header ul.menu
{


   /* top:62px; */
   
	padding: 0px 0px 0px 0 ;
	
	border:0 ;
	text-align:left;
	left:0px;
	 display:block;
	
	 


}


#top ul.menu li
{border:0; margin:0 !important;	   }
#top ul.menu li a:link,
#top ul.menu li a:visited
{

	border-right: 1px solid;
}

#header ul.menu li a:hover,
#header ul.menu li a:active,
#header ul.menu li a:focus
{
	
}

#top ul li.active a:link,
#top ul li.active a:visited
{
	
background: none;	
	
}


#top ul.skiplinks
{
	width:100%;
	text-align:left;
	background:none;
	z-index:20000;
	top:0;
	display:inline;
	padding:0
}

#header ul.skiplinks li a.u2:active,
#header ul.skiplinks li a.u2:focus

{
	background:#095197 !important;
	color:#fff !important;
	border:solid 1px;
	top:0 !important;
	z-index:10000;
	right:auto;
	left:0 !important;
	display:block
}


/* ++++++++++++++  fontsize  ++++++++++++++ */

#fontsize
{
	 display:inline;


}

#fontsize p a:link,
#fontsize p a:visited
{
	color:#222;
	border-right:solid 1px #ccc
}


#fontsize p a.larger,
#fontsize p a.reset,
#fontsize p a.smaller
{
	padding-left:5px;
	padding-right:5px;
	text-decoration:none;
	margin:0;
}



#fontsize p a:hover,
#fontsize p a:active,
#fontsize p a:focus
{
	background:#095197 !important;
	color:#fff
}

#fontsize h3
{
	color:#222;
	font-weight:bold
}

/* ++++++++++++++  search  ++++++++++++++ */
#header form,
#header form .search,
#header form .finder
{
display:inline;
padding-right:1px ;


}

#header form .inputbox
{
	background:url(../images/header-bg.gif) repeat-x;
	border:solid 1px #ccc;
	border-bottom:0;
	border-right:0;
	padding:5px

}

#header form .inputbox:focus
{
	border:solid 2px #000;
}

#header form .button
{
	border:solid 0px #ddd;
	background:#ccc url(../images/personal/button.png);
	color:#333;
	padding:4px !important
}

/* ##########################  contentarea  ########################### */

#contentarea,
#contentarea2
{
	background:#fff
}


/* ##########################  breadcrumbs  ########################### */

#breadcrumbs
{
	color:#333;
}

#breadcrumbs span
{
	color:#333;
}

#breadcrumbs span a:link,
#breadcrumbs span a:visited
{
	background:#fff;
	color:#333;
}

#breadcrumbs span a:hover,
#breadcrumbs span a:active,
#breadcrumbs span a:focus
{
	background:#095197;
	color:#fff;
}


/* ##########################  navigation column  ########################### */

.module_content
{
	border:solid 1px #ddd;

}
.moduletable_js
{
	border:solid 0px #ddd;
}

#right .moduletable_js
{
	border:0
}

#nav h3
{
  border-bottom:solid 1px #ddd;
  font-family: 'Titillium Maps', Arial;
  color:#555
}

h3.js_heading
{
	border-bottom:solid 1px #ddd;
	background:#eee;
	font-family: 'Titillium Maps', Arial;
}

h3.js_heading span.backh
{
	border:solid 0px #000
}

h3.js_heading span.backh1
{

}

h3.js_heading a
{
	border:0
}

h3.js_heading a img
{
	border:0
}

h3.js_heading a.opencloselink:hover,
h3.js_heading a.opencloselink:active,
h3.js_heading a.opencloselink:focus
{
	background:none
}


#right h3 span.backh
{

}

#right h3 span.backh2
{
	background:#fff;
	color:#555;
	border-bottom:solid 1px #ddd
}

#right h3 span.backh3
{
padding-left:0
}

h3.js_heading a:link,
h3.js_heading a:visited,
h3.js_heading a:hover,
h3.js_heading a:active,
h3.js_heading a:focus
{

}

#nav h3.js_heading a:focus
{

}

#nav form
{
	color:#000;
}

#nav form a:hover,
#nav form a:active,
#nav form a:focus
{
	color:#fff;
	background:#095197;
	text-decoration:none
}

/* ++++++++++++++  first level  ++++++++++++++ */
#nav .moduletable-example ul.menu
{
	background:#fff;
	border:0;
}

ul.menu
{
	border:0;
	background:#fff /* url(../images/nature/nav_level_1.gif) repeat-x */;
	border:solid 0px #eee;
}

.module_content ul.menu
{
	border:0;
}

ul.menu li
{
	border-bottom:solid 1px #ddd;
}


ul.menu li a:link,
ul.menu li a:visited
{
	color:#444;
	background:url(../images/nature/karo.gif) 5px 12px no-repeat
}

ul.menu li.active a:link,
ul.menu li.active a:visited
{
	color:#333;
}

ul.menu li a:hover,
ul.menu li a:active,
ul.menu li a:focus,
ul.menu li.active a:hover,
ul.menu li.active a:active,
ul.menu li.active a:focus
{

	color:#095197;
}


/* ++++++++++++++  second level  ++++++++++++++ */

ul.menu li ul
{
	border:solid 0px #eee;
}

 ul.menu li ul li
{
	border:solid 0px #000;
	background:#fff;
}

 ul.menu li.active ul li a:link,
 ul.menu li.active ul li a:visited
{
	color:#444;
	border:0;
	border-bottom:solid 1px #fff;
	background: #e8e8e8
}

 ul.menu li.active ul li.active a:link,
 ul.menu li.active ul li.active a:visited
{
	border:0;
	color:#333;
	border-bottom:solid 1px #fff;
}

 ul.menu li.active ul li a:hover,
 ul.menu li.active ul li a:active,
 ul.menu li.active ul li a:focus
{
	
	
}


/* ++++++++++++++  third level  ++++++++++++++ */

ul.menu li ul li ul
{
	border:0 !important;
	
	padding-bottom:0
}

ul.menu li.active ul li.active ul li a:link,
ul.menu li.active ul li.active ul li a:visited
{
	
	border-bottom:solid 1px #fff;
	
}

ul.menu li.active ul li.active ul li.active a:link,
ul.menu li.active ul li.active ul li.active a:visited
{
	
}



/* ++++++++++++++  fourth level  ++++++++++++++ */

ul.menu li ul li ul li ul
{
	border:solid 1px #eee !important;
	padding-top:10px !important;
	padding-bottom:10px !important;
	
}


ul.menu li.active  ul li.active  ul li.active  ul li  a:link,
ul.menu li.active  ul li.active  ul li.active  ul li a:visited
{
	font-weight:normal;
	padding: 3px 2px 3px 40px;
	font-size:0.9em;
	
	color:#444
}


ul.menu li.active  ul li.active  ul li.active  ul li.active  a:link,
ul.menu li.active  ul li.active  ul li.active  ul li.active a:visited
{font-weight:bold;
color:#333 }



/* ++++++++++++++  fifth level  ++++++++++++++ */

ul.menu li ul li ul li ul li ul
{
	border:solid 0px #eee !important;
	padding-top:5px !important;
	padding-bottom:10px !important;
	background:#fff !important;
}


ul.menu li.active  ul li.active  ul li.active  ul li.active	ul li  a:link,
ul.menu li.active  ul li.active  ul li.active  ul li.active	ul li a:visited
{
	font-weight:normal;
	padding: 3px 2px 3px 5px;
	font-size:0.9em;
	background:#fff ;
	color:#444;
	margin:0 10px  0 35px;
	border-bottom:solid 1px #ddd
}


ul.menu li.active  ul li.active  ul li.active  ul li.active  ul li.active  a:link,
ul.menu li.active  ul li.active  ul li.active  ul li.active  ul li.active a:visited
{font-weight:bold; color:#333}

/* ##########################  content - main   ########################### */


#main
{

}

#main a:link,
#main a:visited
{

}

#main a:hover,
#main a:active,
#main a:focus
{
	
}

#main th a:hover,
#main th a:active,
#main th a:focus
{
	background:#333;
	color:#fff;
}

.items-row
{
	background:#fff
}

.items-row h2
{
	border-bottom:solid 1px #ddd;
	border-top:solid 1px #ddd;
	color:#555
}

.column-1,
.column-2
{
	border: solid 0px ;
}

.item-separator
{
	border: solid 0px #333333;
}

#main ul li
{

}

.small
{
	border:solid 0;
}

ul#archive-items li.row0,
ul#archive-items li.row1
{
	border-bottom:solid 1px #ddd
}

.archive #adminForm fieldset
{
	border:0;
	padding:0;
	margin:20px 0
}
/* ++++++++++++++  images  ++++++++++++++ */

.image-left
{
	padding:2px;
}

.image-right
{
	border:solid 1px #ddd;
	padding:2px
}

/* ++++++++++++++  leading  ++++++++++++++ */

.items-leading
{

}


/* ++++++++++++++++++++ headings +++++++++++++ */
#main h1
{ color:#0d4c89;

	border-bottom:solid 1px #ddd;
	font-family: 'Titillium Maps', Arial;


}


#main .blog  h1,
#main .blog-featured  h1
{
	color:#0d4c89;
	border-top:solid 1px #ddd;
	border-bottom:solid 1px #ddd;
	font-family: 'Titillium Maps', Arial;
	margin-top:-1px !important

}

/* h1 on frontpage */

.items-row h2
{
	border-top:solid 1px #ddd;
	border-bottom:solid 1px #ddd;
}

.items-leading h2,
#main h3,
#main h4
{
	color:#555;
}

#main h2

{
	color:#cdcdcd;
	font-family:  Arial;
	text-transform: uppercase;
	font-size: 12px;

}

#main h2 a
{
	color:#095197
}


/* ++++++++++++++  readmore  ++++++++++++++ */

.readmore a:link,
.readmore a:visited,
a.readmore:link,
a.readmore:visited
{
	color:#095197;
	background:#eee url(../images/nature/arrow1.gif) no-repeat left top;
	border:solid 1px #ddd;
}

.readmore a:hover,
.readmore a:active,
.readmore a:focus,
a.readmore a:hover,
a.readmore a:active,
a.readmore a:focus
{
	background:#555 url(../images/nature/arrow2.gif) no-repeat left 6px !important;
	color:#fff;
}

a.readmore:hover,
a.readmore:active,
a.readmore:focus
{
	background:#555;
	color:#fff;
}

/* ++++++++++++++  icons  ++++++++++++++ */

.actions img
{
	border:0;
}

/* ++++++++++++++  items-more  ++++++++++++++ */

#main .items-more h3
{
	border-bottom:solid 1px #ddd;
	border-top:solid 1px #ddd;
	color:#444;
}

#main .items-more ol
{
	color:#000;
}

#main .items-more ol li a
{
	background:#FFFFFF url(../images/blog_more.gif) no-repeat 0px center;
	color:#095197
}

#main .items-more ol li a:hover,
#main .items-more ol li a:active,
#main .items-more ol li a:focus
{
	background: #095197 url(../images/blog_more_hover.gif) no-repeat 0px center;
	color:#fff;
}

/* ++++++++++++++  pagination  ++++++++++++++ */

#main .pagination
{
	border-top:solid 1px #ddd;
	clear: both;
}

/* ++++++++++++++  article index  ++++++++++++++ */

table.contenttoc
{
	border:solid 1px #ccc;
}


/* ##########################  right column   ########################### */

#right
{
	border:solid 0px #e6e6e6;
	background:#fff
}



#right h3
{

}

#right h4
{
	color:#555;
	border:solid 0;
}





#right ul li a:hover,
#right ul li a:active,
#right ul li a:focus
{
	background:#095197;
	color:#fff;
}

/* ++++++++++++++  button for closing right column  ++++++++++++++ */
#close span
{
	color:#000;
}

/* ##########################  modules  ########################### */

/* ++++++++++++++  mostread, latest news ++++++++++++++ */

.mostread li a:link,
.mostread li a:visited,
.latestnews li a:link,
.latestnews li a:visited
{
	background: url(../images/personal/arrow2_grey.png) 2px 7px  no-repeat ;
}

.mostread li a:hover,
.latestnews li a:hover,
.mostread li a:active,
.latestnews li a:active,
.mostread li a:focus,
.latestnews li a:focus
{
	background:#555 url(../images/arrow_white_grey.png) 2px 7px  no-repeat !important;
}

/* ++++++++++++++  newsfeed  ++++++++++++++ */

ul.newsfeed
{
	border:solid 0px #000;
}

.newsfeed-item
{
	border-bottom:solid 1px #ddd;
}

.newsfeed-item h5 a
{

}

/* ++++++++++++++  newsflash  ++++++++++++++ */
/* newsflash horizontal */

ul.newsflash-horiz
{
	background:#F5F5F5 url(../images/nature/box.png) repeat-x;
	border:1px solid #EEEEEE;
}

ul.newsflash-horiz li
{
	border:solid 0px #eee;
	background:#f5f5f5;
}

ul.newsflash-horiz li h4
{
	font-family: 'Titillium Maps', Arial;
}


/* newsflash vertical */

.newsflash-vert
{

}

/* ++++++++++++++  banner  ++++++++++++++ */

.banneritem
{
	border:0
}

.banneritem a
{
	background:none
}

.banneritem a img
{
	background:none;
	border:0
}

/* ++++++++++++++  login  ++++++++++++++ */

#login-form .inputbox
{
	border:solid 1px #ddd;
	background:url(../images/content_bg.gif) repeat-x;

}

fieldset.input
{
	border:0 ;
}

input.button,
button.button,
button.validate
{

	background:#FFFFFF url(../images/nature/arrow1.gif) no-repeat left top;
	border:1px solid #DDDDDD;
	color:#444444;
}

/* ++++++++++++++  tabs/ slide  ++++++++++++++ */

ul.tabs
{
	border:solid 1px #ddd;
	border-bottom:0;
	background:#f5f5f5 url(../images/nature/box.png) repeat-x;
}

ul.tabs li
{
	background:#f5f5f5 url(../images/nature/box.png) repeat-x;
	border-right:solid 1px #ddd
}

ul.tabs li a:link,
ul.tabs li a:visited
{
	color:#333;
}

ul.tabs li a:hover,
ul.tabs li a:active,
ul.tabs li a:focus
{
	color:#000
}

.tabcontent
{
	border:solid 1px #ddd;
	background:#fff;
	color:#000;
}

.tabcontent .linkclosed
{
	color:#000;
	border-bottom:solid 1px #e5e5e5;
}

ul.tabs li a.linkopen
{
	background:#fff;
	color:#333;
	border:0
}

ul.tabs li a.linkclosed:hover,
ul.tabs li a.linkclosed:active,
ul.tabs li a.linkclosed:focus,
ul.tabs li a.linkopen:hover,
ul.tabs li a.linkopen:active,
ul.tabs li a.linkopen:focus
{
	background:#555;
	color:#fff
}

/* ++++++++++++++  category-module  ++++++++++++++ */

#right .category-module h4 a:link,
#right .category-module h4 a:visited
{
	color:#0D4C89
}

#right .category-module h4 a:hover,
#right .category-module h4 a:active,
#right .category-module h4 a:focus
{
	color:#fff
}


.category-module li
{
	border-bottom:solid 1px #ddd;
}

.category-module li li
{
	border:0
}



/* ##########################  search   ########################### */

.searchintro img
{
	border:0px
}

.inputbox:focus
{
	border:solid 2px #000;
}

.word
{
	background:#fff;
	border:solid 0px #ccc ;
}

.word input
{
	border:solid 1px #ddd;
	background:url(../images/content_bg.gif) repeat-x;
	color:#333;
}

.only
{
	border:solid 1px #ccc;
}

.phrases
{
	color:#000;
	border:solid 1px #ccc;
}

/* ++++++++++++++  selects  ++++++++++++++ */
.phrases .inputbox
{
	background:#fff;
	color:#000;
}

.phrases .inputbox option
{
	background:#f5f5f5;
	border-bottom:solid 1px #ccc;
}

.phrases .inputbox option a:hover
{
	background:#C00;
	border-color:#CFD0D6;
	color:#fff;
}

/* ++++++++++++++   search results	++++++++++++++++++ */

dl.search-results
{
	background:#f5f5f5;
}

dl.search-results dt.result-title
{
	border-top:dotted 1px #ddd
}

dl.search-results dd.result-url
{
	border-bottom:solid 5px #fff;
	color:#115599;
}

dl.search-results dd.result-created
{
	border-bottom:solid 5px #fff;
}

/* ##########################  forms   ########################### */


/* ++++++++++++++  form validation  ++++++++++++++ */

.invalid
{
	border-color:red !important;
}

label.invalid
{
	color:red;
}


/* ##########################  user profile  ########################### */
#users-profile-core,
#users-profile-custom
{
	border:solid 1px #ccc;
}

#member-profile fieldset
{
	border:solid 1px #ccc;
}


/* ##########################  tables   ########################### */
table
{

}

tbody
{

}

tr.odd,
.cat-list-row1
{
	background:url(../images/news.gif)  repeat-x;
}

table.newsfeeds td,
table.weblinks td
{

}

table.weblinks th,
table.newsfeeds th,
table.category th,
table.jlist-table th
{
	background:#444 ;
}

table.weblinks th a,
table.newsfeeds th a,
table.category th a,
table.jlist-table th a,
table.weblinks th,
table.newsfeeds th,
table.category th,
table.jlist-table th
{
	color:#fff
}


td.table_footer
{
	background:#ddd url(../images/table_footer.gif) bottom left repeat-x;
}

td.counter
{

}

td.num,
td.hits
{

}

td p
{

}

table.category th a img
{
	border:solid 0px ;
}

/* for opera */
tr, td
{
	
}


#main table.moduletable td,
#main table.moduletable tr
{border:0;}
fieldset.filters
{
	border:solid 0px #ddd;

}

/* ##########################  contacts   ########################### */

.contact form
{
	background:#fff;
	color:#000;
}

.contact input
{
	background:#fff;
	color:#000;
}

.contact .button
{

}

.contact input.invalid,
.contact textarea.invalid
{
	border:solid 2px red;
}

.contact label.invalid
{
	color:red;
}


/* ++++++++++++++  Error Message contact form  ++++++++++++++ */

p.error
{
	color:#044b63;
	background:#eee;
	border-top:3px solid #044b63;
	border-bottom:3px solid #044b63;
}

body.contentpane
{
	background:#fff;
}


/* ##########################  footer   ########################### */

#footer
{
	  /*  background:url(../images/footer_bg.gif) repeat-x;*/
	background:#fff url(../imagexs/personal/tabs_back.png) repeat-x;
	color:#808285;
	border-top:solid 0px #ccc;
	font-size: 11px;
}

#footer-inner
{
	background:#f5f5f5 url(../images/personal/footer.jpg) repeat-x left bottom;
	border-top:solid 1px #ddd
}

#footer a
{
	color:#808285;
}

#bottom a img
{
	border:0
}

.box h3
{
	font-family: 'Titillium Maps', Arial;
	font-size:1.2em
}
.box ul
{padding-left:0}

.box1
{border-right:solid 1px #ccc}
.box3
{border-left:solid 1px #ccc}
#bottom  ul li a
{background-image:none;
padding-left:0}
/* ##########################  editor  ########################### */

.contentpaneopen_edit img
{
	border:0
}

form.editor fieldset
{
	border:solid 1px #ccc;
}


/* ++++++++++++++  edit  ++++++++++++++ */

form#adminForm
{
	border:solid 0px #000
}

.edit form#adminForm fieldset
{
	border:solid 1px #ddd
}
.edit form#adminForm  legend
{
	font-weight:bold
}
/* ++++++++++++++  tooltip  ++++++++++++++ */
.tip
{
	border:solid 1px #333;
	background:#ffffcc;
}


/*-------------------------------*/


table.pagenav,
table.pagenav tr,
table.pagenav td
{border:0 !important}

.cat-children ul ul,
.categories-list ul ul
{
	list-style-type:none;

}

.cat-children ul ul ul,
.categories-list ul ul ul
{


}
.categories-list .category-desc ul li
{list-style-type:square
}

/* contact  plain */
#main .contact h3
{
	border-bottom:solid 1px #ddd;
	margin: 20px 0
}

.form-required
{
	font-weight:bold;
	margin:10px 0;
	background:#fff url(../images/req.png) no-repeat;
	padding:10px 40px

}

.contact .inputbox,
.registration input,
.profile-edit input,
.login-fields input,
.remind input,
.reset input


{
	background:#fff url(../images/content_bg.gif) repeat-x ;
	border:solid 1px #ccc;
	padding:3px
}

.profile-edit select
{
	padding:0px;
	border:solid 1px #ccc;
	background:#f5f5f5;

}
.profile-edit select option
{
	padding:3px

}
/* contact  slider */

.panel
{
	border:solid 1px #ddd;
	margin-top:-1px

}
#main .contact .panel h3
{
	margin:0px 0 0px 0;
	padding: 0;
	background:#eee;
	border:0
}
.panel h3 a
{
	display:block;
	padding:6px;
	text-decoration:none;
	color:#444;
	padding:6px;
}


.panel h3.pane-toggler a
{
	background:#f5f5f5 url(../images/slider_plus.png) right  top no-repeat;
}
.panel h3.pane-toggler-down a
{
	background:#f5f5f5  url(../images/slider_minus.png) right  top no-repeat;
	border-bottom:solid 1px #ddd;
}

.pane-slider
{
	border:solid 0px;
	padding:0px 10px !important;
	margin:0;
	background: url(../images/nav_level_1.gif) repeat-x ;
}

.panel .contact-form,
.panel  .contact-miscinfo
{
	padding:10px
}

.contact .panel .contact-form form,
.contact .panel .contact-address
{
	margin:20px 0 0 0
}


/* tabs */

div.current
{

	background: url(../images/nav_level_1.gif) repeat-x ;
}

/* image upload modal */

#all #upload-flash ul li a:hover,
#all .item a:hover span {
	background:#095197;
	color:#fff;
}
#close a
{text-decoration:none}

/* ########################## sample module styling  ########################### */

div.sample-module {
    border: 2px dashed #ddd;
    padding: 10px;
    background-color: #f5f5f5;
}

.maximenuck li {background: url(../images/nav-sprite-homme-2012.jpg)}
ul.maximenuck li.maximenuck.level1:hover {background: url(../images/nav-sprite-homme-2012.jpg) 0 -130px;}

.maximenuck li.item102 span {font-size: 0; padding: 0 56px; } /*about biotherm*/
.maximenuck li.item115 {background-position: -115px 0;} /*face*/
.maximenuck li.item115 span {font-size: 0px; padding: 0 54px; } /*face*/
.maximenuck li.item130 {background-position: -225px 0;} /*body*/
.maximenuck li.item130 span {font-size: 0; padding: 0 56px; } /*body*/
.maximenuck li.item131 {background-position: -338px 0;} /*Aqua*/
.maximenuck li.item131 span {font-size: 0; padding: 0 56px; } /*Aqua*/
.maximenuck li.item132 {background-position: -453px 0;} /*Biospace*/
.maximenuck li.item132 span {font-size: 0; padding: 0 55px; } /*Biospace*/
.maximenuck li.item133 {background-position: -566px 0;} /*intouch*/
.maximenuck li.item133 span {font-size: 0; padding: 0 55px; } /*intouch*/
.maximenuck li.item134 {background-position: -676px 0;} /*intouch*/
.maximenuck li.item134 span {font-size: 0; padding: 0 55px; } /*intouch*/

ul.maximenuck li.maximenuck.item115:hover {background-position: -115px -130px;}
ul.maximenuck li.maximenuck.item130:hover {background-position: -225px -130px;}
ul.maximenuck li.maximenuck.item131:hover {background-position: -338px -130px;}
ul.maximenuck li.maximenuck.item132:hover {background-position: -453px -130px;}
ul.maximenuck li.maximenuck.item133:hover {background-position: -566px -130px;}
ul.maximenuck li.maximenuck.item134:hover {background-position: -676px -130px;}

.maximenuck li.item115 li span {font-size: 11px; padding: 0 7px; text-shadow: none; color: #808285; font-weight: bold;} 
.maximenuck li.item115 li span:hover {color: #4184D3;}
div#maximenuck ul.maximenuck li.item115 div.floatck {height: auto !important; width: 162px !important; padding: 0;}
div#maximenuck ul.maximenuck li.item115 div.floatck  div.floatck  div.floatck{ width: 210px !important; }
div#maximenuck ul.maximenuck li div.floatck div.floatck div.maximenuck2 {width: 205px;}


.maximenuck li.item130 li span {font-size: 11px; padding: 0 7px; text-shadow: none; color: #808285; font-weight: bold;} 
.maximenuck li.item130 li span:hover {color: #4184D3;}
div#maximenuck ul.maximenuck li.item130 div.floatck {height: auto !important; width: 182px !important; padding: 0;}



div#maximenuck ul.maximenuck li div.floatck {background: #ffffff url(../images/subnav-bg.jpg) repeat-x top left; border:1px solid #aaa;}
div#maximenuck ul.maximenuck li ul.maximenuck2 li.maximenuck {}


div#maximenuck ul.maximenuck li.level1.parent > a, div#maximenuck ul.maximenuck li.level1.parent > span.separator {padding: 0 !important;}


/*menu */
#top {}
.topmenu {float: left;}
#top .left {float: left; width: 700px;}
#top .topmenu ul{position: relative; text-align: right; width: 700px; margin-left: 475px; margin-top: 5px; margin-bottom: 5px;}
#top .main-menu ul{position: relative; text-align: left; padding-top: 10px;}
#top ul.menu {padding: 0;}
div#maximenuck ul.maximenuck li.maximenuck.level1 {margin: 0 !important;}

.topmenu ul li {float: left; font-size: 9px; color: #aaa; }
#top .topmenu ul li a {color: #aaa; text-decoration: none; padding: 0 5px; }
.topmenu ul li a:hover {color: #000; text-decoration: none; background: none;}
.main-menu {margin-top: 28px;}
.logo {float: right;}

.item-page {background: #000; padding: 0px 0 0px 0; color: #fff;}
.item-page-whitebg {background: #fff; padding: 0px;}

/*Blue Therapy */
.impact {width: 960px; height: 435px; margin-top: 0px !important; background: url(../images/2013_bluetherapy_tab2.jpg);}
.blue-vid {width: 960px; height: 435px; margin-top: 0px !important; background: url(../images/2013_bluetherapy_tab_video.jpg);}
.blue-ingredients {width: 960px; height: 435px; margin-top: 0px !important; background: url(../images/2013_bluetherapy_tab3.jpg);}
.blue-ingredients a {float: left; width: 140px; top: 165px; position: absolute; left: 30px; height: 40px; text-decoration: none;}
td.blue-ingredients {vertical-align: top;}

.blue-vid .vid-1 {float: left; margin: 100px 0 0 50px;}
.blue-vid .vid-2 {float: left; margin: 100px 0 0 60px;}
.sampling-bg {background: url(../images/bluetherapy_sampling_body_2.jpg) no-repeat top left; height: 610px;}
.sampling-bg .content {width: 300px; float: right; color: #fff; margin-right: 20px; font-size: 13px;}
/*End Blue Therapy*/

/*Aquasource Promo */
.aquasource-truth {width: 960px; height: 416px; margin-top: 0px !important; background: url(../images/femme_the_truth.jpg);}
.aquasource-truth a {width: 134px; height: 50px; position: absolute; top: 259px; left: 29px; text-decoration: none;}

.aquasource-deep {width: 960px; height: 416px; margin-top: 0px !important; background: url(../images/femme_deep_discovery.jpg);}
.aquasource-deep a.deep1 {width: 160px; height: 50px; position: absolute; top: 290px; left: 20px; text-decoration: none;}
.aquasource-deep a.deep2 {width: 200px; height: 50px; position: absolute; top: 290px; left: 190px;text-decoration: none;}

.aquasource-goodnight {width: 960px; height: 416px; margin-top: 0px !important; background: url(../images/femme_qa_night.jpg);}
.aquasource-goodnight a.goodnight1 {width: 85px; height: 85px; position: absolute; top: 280px; left: 30px; text-decoration: none;}
.aquasource-goodnight a.goodnight2 {width: 85px; height: 85px; position: absolute; top: 280px; left: 150px;text-decoration: none; }
.aquasource-goodnight a.goodnight3 {width: 85px; height: 85px; position: absolute; top: 280px; left: 270px; text-decoration: none;}

.aquasource-routine {width: 960px; height: 416px; margin-top: 0px !important; background: url(../images/femme_complete_routine.jpg);}
.aquasource-routine a.routine1 {width: 217px; height: 50px; position: absolute; top: 360px; left: 85px;text-decoration: none;}
.aquasource-routine a.routine2 {width: 217px; height: 50px; position: absolute; top: 360px; left: 675px; text-decoration: none;}

.aquasource-unique {width: 960px; height: 416px; margin-top: 0px !important; background: url(../images/femme_unique_texture.jpg);}
/*End Aquasource */



.chronoform {display: none;}

.ccms_form_element input, textarea, input[type="file"] {padding: 3px !important; margin: 0; border: 0; width: 170px;}
.ccms_form_element {margin: 0; padding: 0;} 
.ccms_form_element label {font-weight: normal; width: 100%;}
.cfdiv_text label {width: 100px; font-weight: normal; margin: 5px 0 5px;}
.ccms_form_element select {width: 92%;}
.cfdiv_header {font-size: 10px; margin: 15px 0; }

/*pages style*/
.style1 {font-size: 11px;
line-height: 14px;}

.style2 {color: #666666;}

.moduletable_menu-slider {margin-top: 50px;}
.custom_menu-gradient {margin-left: 5px; margin-top: 1px; float: left;}

.stickytooltip{
box-shadow: 5px 5px 8px #818181; /*shadow for CSS3 capable browsers.*/
-webkit-box-shadow: 5px 5px 8px #818181;
-moz-box-shadow: 5px 5px 8px #818181;
display:none;
position:absolute;
display:none;
border:5px solid black; /*Border around tooltip*/
background:white no-repeat;
z-index:3000;
}


.stickytooltip .stickystatus{ /*Style for footer bar within tooltip*/
background:black;
color:white;
padding-top:5px;
text-align:center;
font:bold 11px Arial;
}

.tpur-bg {background: #000 url(../images/homme_whatsnew_may2012_bg.jpg) no-repeat;}
.tpur-bg-oil {background: url(../images/homme_whatsnew_may2012_bg3.jpg) no-repeat;}


.item-page_newsletter .newsletter_right {background: url(../images/stayconnected_bg.jpg) no-repeat;}
.item-page_newsletter .ccms_form_element label{width: auto;}
.item-page_newsletter .cfdiv_radio input {width: 20px; margin: 0;}
.item-page_newsletter .cfdiv_radio label {margin: 0 8px 0;}
.item-page_newsletter .cfdiv_text label, 
.item-page_newsletter .cfdiv_select label {width: 150px; margin: 8px 0;}
.item-page_newsletter .cfdiv_text input {margin: 8px 0; border: 1px solid #aaa;}
.item-page_newsletter .ccms_form_element select {min-width: 10px; width: 50px; margin: 8px 0;}
.item-page_newsletter #birthdaydate1_container_div {width: 210px; float: left;}
.item-page_newsletter #birthdaymonth1_container_div, 
.item-page_newsletter #birthdayyear1_container_div {float: left; clear: none;}
.item-page_newsletter #birthdayyear1_container_div select {margin-left: 10px; width: 60px;}
.item-page_newsletter .cfdiv_submit input {background: none; font-weight: bold; width: auto; padding: 0; float: right; margin-right: 124px; cursor: pointer;}

.item-page_contact {background: #efefef;}
.item-page_contact .contact_right {background: url(../images/contactus_rightbg.jpg) no-repeat;}
.item-page_contact .ccms_form_element label{width: auto;}
.item-page_contact .cfdiv_radio input {width: 20px; margin: 0;}
.item-page_contact .cfdiv_radio label {margin: 0 8px 0;}
.item-page_contact .cfdiv_text label, 
.item-page_contact .cfdiv_select label {width: 150px; margin: 4px 0;}
.item-page_contact .cfdiv_text input {margin: 4px 0; border: 1px solid #aaa;}
.item-page_contact .ccms_form_element select {min-width: 10px; width: 50px; margin: 4px 0;}
.item-page_contact #birthdaydate1_container_div {width: 50px;  float: left; clear: none; margin-right: 10px;} 
.item-page_contact #birthdaymonth1_container_div, 
.item-page_contact #birthdayyear1_container_div {float: left; clear: none;}
.item-page_contact #birthdayyear1_container_div select {margin-left: 10px; width: 60px;}
.item-page_contact #skin_type1_container_div select,
.item-page_contact #question_about1_container_div select,
.item-page_contact #more_specific_11_container_div select,
.item-page_contact #more_specific_21_container_div select,
.item-page_contact #more_specific_31_container_div select,
.item-page_contact #more_specific_41_container_div select  {width: 180px;}


.item-page_contact .cfdiv_submit input {background: none; font-weight: bold; width: auto; padding: 0; float: right; margin-right: 124px; cursor: pointer;}
.item-page_contact .cfdiv_header {font-size: 12px; width: 150px; clear: none; float: left; margin: 4px 0;}
.item-page_contact .leftform {float: left; width: 360px;}
.item-page_contact .rightform {float: left;}
.item-page_contact #message1_container_div label{width: 100% !important; }
.item-page_contact textarea {width: 310px; height: 91px;}


.item-page_about {background: #efefef;}

.total-form-bg {background: url(../images/Biotherm-Total-Perfector-web-layout_04.jpg) no-repeat; vertical-align: top; padding-right: 25px;}
.item-page_tpform {color: #fff;}
.item-page_tpform td {vertical-align: top; }
.item-page_tpform #mobile11_container_div label {width:100px;}
.item-page_tpform #mobile11_container_div {clear: none;}
.item-page_tpform #mobile11_container_div select {min-width:55px; width: 55px; float: left;}
.item-page_tpform #mobile21_container_div {width: 50px; clear: none; float: left;}
.item-page_tpform #mobile21_container_div input {width: 110px; margin-left: 5px;}
.item-page_tpform .ccms_form_element label {margin: 6px 0 4px;}
.item-page_tpform form {width: 300px;}