
	img{border:none;}
			
    /* image replacement */
        .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
    /* // image replacement */
					
/* Easy Slider */

	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2{margin-top:1em;}
	#slider li, #slider2 li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:587px;
		height:335px;
		overflow:hidden; 
		}	
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		width:53px;
		height:108px;
		position:relative;
		z-index:100;
		margin-top:-160px;
		}	
	#nextBtn, #slider1next{
		float:right;
		margin-right:100px;
		}
	#prevBtn, #slider1prev {
		float:left;
		margin-left:100px;
	}
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a {  
		display:block;
		position:relative;
		width:53px;
		height:108px;
		background:url(../images/btn-left.png) no-repeat 0 0;	
		}	
	#nextBtn a, #slider1next a { 
		background:url(../images/btn-right.png) no-repeat 0 0;	
		}	
		
	/* numeric controls */	

	ol#controls {
		margin:1em 0;
		padding:0;
		height:28px;	
		}
	ol#controls li {
		margin:0 10px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		line-height:28px;
		}
	ol#controls li a {
		float:left;
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background:#DAF3F8;
		color:#555;
		padding:0 10px;
		text-decoration:none;
		}
	ol#controls li.current a {
		background:#5DC9E1;
		color:#fff;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus {outline:none;}
	
/* // Easy Slider */
